<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


    <bean class="com.example.springIoCWithXml.Dao.MySqlCustomerDao" id="mySqlCustomerDao">
    </bean>

    <bean class="com.example.springIoCWithXml.Dao.OracleCustomerDao" id="oracleCustomerDao">
        <property name="connectionString" value="//OracleConnectionString"></property>
    </bean>

    <bean class="com.example.springIoCWithXml.Services.CustomerService" id="customerService">
        <constructor-arg ref="oracleCustomerDao"></constructor-arg>
<!--           <property name="customerDao" ref="oracleCustomerDao" ></property> to setter injection-->
    </bean>

</beans>